// Baseline for all new XMeeting targets. The legacy target does not include
// this file until its QuickTime/OPAL sources have been replaced.

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 11.0
ARCHS = $(ARCHS_STANDARD)
ONLY_ACTIVE_ARCH = NO

CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES

CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = YES
ENABLE_HARDENED_RUNTIME = YES
GCC_C_LANGUAGE_STANDARD = gnu17
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) XMEETING_H323_ONLY=1
GENERATE_INFOPLIST_FILE = NO
