<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPAL_MAJOR</key>
	<string>__XM_OPAL_MAJOR__</string>
	<key>OPAL_MINOR</key>
	<string>__XM_OPAL_MINOR__</string>
	<key>OPAL_BUILD</key>
	<string>__XM_OPAL_BUILD__</string>
	<key>OPAL_VERSION</key>
	<string>&quot;__XM_OPAL_MAJOR__.__XM_OPAL_MINOR__.__XM_OPAL_BUILD__&quot;</string>
	<key>OPAL_PTLIB_SSL</key>
	<string></string>
	<key>OPAL_PTLIB_SSL_AES</key>
	<string></string>
	<key>OPAL_PTLIB_ASN</key>
	<string></string>
	<key>OPAL_PTLIB_EXPAT</key>
	<string></string>
	<key>OPAL_PTLIB_AUDIO</key>
	<string></string>
	<key>OPAL_PTLIB_VIDEO</key>
	<string></string>
	<key>OPAL_PTLIB_WAVFILE</key>
	<string></string>
	<key>OPAL_PTLIB_DTMF</key>
	<string></string>
	<key>OPAL_PTLIB_IPV6</key>
	<string></string>
	<key>OPAL_PTLIB_DNS</key>
	<string></string>
	<key>OPAL_PTLIB_LDAP</key>
	<string></string>
	<key>OPAL_PTLIB_VXML</key>
	<string></string>
	<key>OPAL_PTLIB_CONFIG_FILE</key>
	<string></string>
	<key>OPAL_IAX2</key>
	<string></string>
	<key>OPAL_SIP</key>
	<string>1</string>
	<key>OPAL_H323</key>
	<string>1</string>
	<key>OPAL_LID</key>
	<string></string>
	<key>OPAL_T120DATA</key>
	<string></string>
	<key>OPAL_HAS_H224</key>
	<string>1</string>
	<key>OPAL_HAS_H281</key>
	<string>1</string>
	<key>OPAL_H501</key>
	<string>1</string>
	<key>OPAL_H450</key>
	<string>1</string>
	<key>OPAL_H460</key>
	<string>1</string>
	<key>OPAL_STATISTICS</key>
	<string>1</string>
	<key>GCC_HAS_CLZ</key>
	<string>1</string>
	<key>OPAL_G711PLC</key>
	<string>1</string>
	<key>OPAL_VIDEO</key>
	<string>1</string>
	<key>OPAL_RFC4175</key>
	<string></string>
	<key>OPAL_FAX</key>
	<string></string>
	<key>OPAL_SYSTEM_SPEEX</key>
	<string></string>
	<key>OPAL_HAVE_SPEEX_SPEEX_H</key>
	<string></string>
	<key>OPAL_SPEEX_FLOAT_NOISE</key>
	<string></string>
	<key>OPAL_JAVA</key>
	<string></string>
</dict>
</plist>
