<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PTLIB_MAJOR</key>
	<string>__XM_PTLIB_MAJOR__</string>
	<key>PTLIB_MINOR</key>
	<string>__XM_PTLIB_MINOR__</string>
	<key>PTLIB_BUILD</key>
	<string>__XM_PTLIB_BUILD__</string>
	<key>PTLIB_VERSION</key>
	<string>&quot;__XM_PTLIB_MAJOR__.__XM_PTLIB_MINOR__.__XM_PTLIB_BUILD__&quot;</string>
	<key>P_LINUX</key>
	<string></string>
	<key>P_FREEBSD</key>
	<string></string>
	<key>P_OPENBSD</key>
	<string></string>
	<key>P_NETBSD</key>
	<string></string>
	<key>P_SOLARIS</key>
	<string></string>
	<key>P_MACOSX</key>
	<string>__XM_OS_MAJOR____XM_OS_MINOR__</string>
	<key>P_CYGWIN</key>
	<string></string>
	<key>P_MINGW</key>
	<string></string>
	<key>P_UNKNOWN_OS</key>
	<string></string>
	<key>SIZEOF_INT</key>
	<string>4</string>
	<key>PBYTE_ORDER</key>
	<string></string>
	<key>P_HAS_IPV6</key>
	<string></string>
	<key>P_QOS</key>
	<string></string>
	<key>P_OSSL</key>
	<string></string>
	<key>P_OSSL_AES</key>
	<string></string>
	<key>P_SSL_USE_CONST</key>
	<string></string>
	<key>P_OEXPAT</key>
	<string></string>
	<key>P_WINEXPAT</key>
	<string></string>
	<key>P_LDAP</key>
	<string></string>
	<key>P_MEDIALIB</key>
	<string></string>
	<key>P_DNS</key>
	<string>1</string>
	<key>P_HAS_RES_NINIT</key>
	<string>1</string>
	<key>P_SAPI</key>
	<string></string>
	<key>P_SAPI_LIBRARY</key>
	<string></string>
	<key>P_SASL</key>
	<string></string>
	<key>P_SASL2</key>
	<string>1</string>
	<key>P_HAS_SASL_SASL_H</key>
	<string></string>
	<key>P_DYNALINK</key>
	<string>1</string>
	<key>P_PLUGINS</key>
	<string>1</string>
	<key>P_DEFAULT_PLUGIN_DIR</key>
	<string>&quot;dev/null&quot;</string>
	<key>P_REGEX</key>
	<string>1</string>
	<key>P_TTS</key>
	<string></string>
	<key>P_ASN</key>
	<string>1</string>
	<key>P_STUN</key>
	<string>1</string>
	<key>P_PIPECHAN</key>
	<string></string>
	<key>P_DTMF</key>
	<string></string>
	<key>P_WAVFILE</key>
	<string></string>
	<key>P_SOCKS</key>
	<string></string>
	<key>P_FTP</key>
	<string></string>
	<key>P_SNMP</key>
	<string></string>
	<key>P_TELNET</key>
	<string></string>
	<key>P_REMCONN</key>
	<string></string>
	<key>P_SERIAL</key>
	<string></string>
	<key>P_POP3SMTP</key>
	<string></string>
	<key>P_AUDIO</key>
	<string>1</string>
	<key>P_VIDEO</key>
	<string>1</string>
	<key>NO_VIDEO_CAPTURE</key>
	<string></string>
	<key>P_VXML</key>
	<string></string>
	<key>P_JABBER</key>
	<string></string>
	<key>P_XMLRPC</key>
	<string></string>
	<key>P_SOAP</key>
	<string></string>
	<key>P_URL</key>
	<string>1</string>
	<key>P_HTTP</key>
	<string>1</string>
	<key>P_HTTPFORMS</key>
	<string></string>
	<key>P_HTTPSVC</key>
	<string></string>
	<key>P_SOCKAGG</key>
	<string>1</string>
	<key>P_VIDFILE</key>
	<string></string>
	<key>P_FFVDEV</key>
	<string></string>
	<key>P_ODBC</key>
	<string></string>
	<key>P_SHM_VIDEO</key>
	<string></string>
	<key>P_PTHREADS</key>
	<string>1</string>
	<key>P_HAS_SEMAPHORES</key>
	<string></string>
	<key>P_HAS_NAMED_SEMAPHORES</key>
	<string>1</string>
	<key>P_PTHREADS_XPG6</key>
	<string></string>
	<key>P_EXCEPTIONS</key>
	<string></string>
	<key>USE_SYSTEM_SWAB</key>
	<string></string>
	<key>P_64BIT</key>
	<string></string>
	<key>P_LPIA</key>
	<string></string>
	<key>PNO_LONG_DOUBLE</key>
	<string></string>
	<key>P_HAS_POSIX_READDIR_R</key>
	<string>3</string>
	<key>P_HAS_STL_STREAMS</key>
	<string>1</string>
	<key>P_HAS_ATOMIC_INT</key>
	<string>1</string>
	<key>P_HAS_RECURSIVE_MUTEX</key>
	<string>2</string>
	<key>P_NEEDS_GNU_CXX_NAMESPACE</key>
	<string>1</string>
	<key>PMEMORY_CHECK</key>
	<string></string>
	<key>P_HAS_RECVMSG</key>
	<string></string>
	<key>P_HAS_UPAD128_T</key>
	<string></string>
	<key>P_HAS_INET_NTOP</key>
	<string>1</string>
	<key>P_USE_STANDARD_CXX_BOOL</key>
	<string>1</string>
</dict>
</plist>
